*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(89, 104, 180, 0.447);
}
.container{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 25px;
    width: 40%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.515) 10px 10px 10px,rgba(255, 255, 255, 0.4) -10px -10px 10px;
}
.datetime{
    height: 80%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.date{
    display: flex;
    justify-content: space-between;
    font-size: 3.5rem;
}
.timer{
    display: flex;
    justify-content: space-between;
    font-size: 5rem;
}
#day{
    background: rgba(13, 86, 232, 0.448);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 1rem;
    width: 32%;
    text-align: center;
    box-shadow: rgba(13, 86, 232, 0.781) -7px -7px 5px inset;
}

