*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: rgba(207, 207, 140, 0.808);
}
p{
    font-size: 5rem;
    font-weight: bolder;
}
.container{
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: none;
    border-radius: 2rem;
    background: rgb(135, 193, 222);
    box-shadow:  rgba(255, 255, 255, 0.588) -10px -10px 10px,  rgba(151, 151, 26, 0.808) 10px 10px 10px;
}
.timer{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    gap: 1rem;
    color: white;
}
.timer-btns{
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: space-between
}
button{
    font-size: 2rem;
    height: 100%;
    width: 30%;
    cursor: pointer;
    border-radius: 0.5rem;
    color: white;
    border: none;
}
#start-btn{
    background-color: #0e85fc;
}
#pause-btn{
    background-color: #a67c28;
}
#reset-btn{
    background-color: #c91400;
}
h1{
    font-size: 6rem;
}
h6{
    font-size: 1.5rem;
}
