*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    cursor: pointer;
}
h1{
    text-align: center;
    font-size: 4rem;
}
.inc-des{
    display: flex;
    justify-content: center;
}
.inner-block{
    width: 25rem;
    display: flex;
    justify-content: space-between;
}